.config/gh/hosts.yml
wslu/
.config/zsh/completions/*
!.config/zsh/completions/.gitkeep
.config/zsh/.zsh_history
.config/zsh/plugins/*
!.config/zsh/plugins/.gitkeep
htop
.config/bat/themes/*
!.config/bat/themes/.gitkeep
.config/broot