.config/gh/hosts.yml
wslu/
zsh/.config/zsh/completions/*
!zsh/.config/zsh/completions/.gitkeep
zsh/.config/zsh/.zsh_history
zsh/.config/zsh/plugins/*
!zsh/.config/zsh/plugins/.gitkeep
htop
.config/bat/themes/*
!.config/bat/themes/.gitkeep
.config/broot
.config/bottom
.config/btop
.config/silicon/themes/*
.config/silicon/syntaxes/*
!.config/silicon/themes/.gitkeep
!.config/silicon/syntaxes/.gitkeep
